// 変数とMixinの定義ファイル

// 基本的な色指定
$color : (
    white_color: #FFFFFF,
    green_color: #978F10,
    black_color: #000000,
    gray_color: #707070,
    light_gray_color: #F6F6F6,
    modal_back_color: #707070,
    modal_color: #797878
);

// 色を返す
@mixin color($key) {
    color: map-get($color, $key);
}

@mixin backColor($key) {
    background-color: map-get($color, $key);
}

// 基本的なz-indexの値管理
$z-index : (
    modal: 10000,
    btn: 1000,
    side-menu: 500,
    back-color: 200,
    header: 100,
    image: -1,
);

// 色を返す
@mixin z-index($key) {
    z-index: map-get($z-index, $key);
}

@mixin flex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.element {
    /* 最初は非表示 */
    opacity: 0;
    visibility: hidden;
    transform: translateY(30px);
    transition: opacity 1s, visibility 1s, transform 1s;
}
/* フェードイン時に入るクラス */
.is-fadein {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

// ボタンホバー時に透明にする
button:hover {
    opacity: 0.8;
}