.sec_news_container {
    text-align: center;
    > img {
        margin-top: 60px;
    }
    h2 {
        font-weight: 400;
        margin-top: 20px;
        margin-bottom: 66px;
    }
    ul {
        @include flex;
        width: 165px;
        margin: 0 auto 49px;
        li {
            list-style: none;
            font-size: 16px;
            &.news_active {
                border-bottom: 1px solid #000000;
            }
        }
    }
    .news-flex {
        @include flex;
        width: 90%;
        margin: 0 auto 50px;
        text-align: left;
        max-width: 1180px;
        @media screen and (max-width: 900px) {
            flex-direction: column;
        }
        article {
            width: 45.5%;
            height: 110px;
            margin-bottom: 20px;
            padding: 10px 15px;
            @include flex;
            @include backColor(light_gray_color);
            @media screen and (max-width: 900px) {
                width: 100%;
                box-sizing: border-box;
                height: auto;
            }
            img {
                width: 103px;
                height: 100px;
            }
            div {
                width: calc(100% - 30px - 103px);
                margin-left: 30px;
                line-height: 32px;
                .time {
                    font-size: 14px;
                    margin-bottom: 10px;
                    height: 14px;
                }
            }
        }
    }

    // 表示の出しわけ
    .hide {
        display: none;
    }
}
