header {
    background-color: aquamarine;
    color: white;
    p {
        background-color: blue;
        color: white;
        width: 30px;
        height: 300px;
        display: flex;
        text-align: center;
    }
}